<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sg.edu.rp.c346.id19036308.demomysecondapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ws2ex1"></activity>
        <activity android:name=".q4b" />
        <activity android:name=".q4a" />
        <activity android:name=".q3b" />
        <activity android:name=".q3a" />
        <activity android:name=".q2d" />
        <activity android:name=".q2c" />
        <activity android:name=".q2b" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>